DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
ROBLOX_OPEN_CLOUD_API_KEY=your_roblox_open_cloud_api_key_here
VERIFIED_COMPETITOR_ROLE_ID=your_verified_competitor_discord_role_id_here
MATCH_PING_ROLE_ID=your_match_ping_role_id_here
